<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>oracle_dev_backend</key>
		<dict>
			<key>default</key>
			<true/>
			<key>baseURL</key>
			<string>https://mcs-gse00011723.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>4d8be33c-45c1-436e-a773-f897fdd2fd8f</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>basic</string>
				<key>OAuth</key>
				<dict>
					<key>tokenEndpoint</key>
					<string>https://gse00011723.identity.us.oraclecloud.com/oam/oauth2/tokens</string>
					<key>clientID</key>
					<string>5bde69af-c9eb-430d-abb5-6830fdb67778</string>
					<key>clientSecret</key>
					<string>wXwchbqtCkEHGrTbLxp3</string>
				</dict>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>2723b005-dc1e-4a2e-aef0-e5da6c85f790</string>
					<key>anonymousKey</key>
					<string>R1NFMDAwMTE3MjNfTUNTX01PQklMRV9BTk9OWU1PVVNfQVBQSUQ6bzRvdW5neURxLmpsMG0=</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
</dict>
</plist>
